<html>
<body>
  <br>

  <style type="text/css">
  .morva:hover {   text-decoration: none; }
  </style>
  
  <div style="border:10px outset gray; margin-bottom:2%; ">
 
	  <h1 style="color:green;    padding-right: 4%;"> درباره ما</h1>
	   <p style="padding:4%;font-size: 130%;font-family:BNazanin;text-align: justify;color : black;line-height: 26px;margin-bottom:-7%;margin-top:-4%;">
	  



این روزها مشکلات قلبی زندگی بسیاری از افراد را تحت تاثیر قرار داده به طوری که سکته قلبی یکی از عوامل شایع مرگ و میر در سال های اخیر معرفی شده است. افزایش فاکتورهای انعقادی خون و در نتیجه لخته شدن آن موجب انسداد رگ های قلبی شده و در نهایت منجر به سکته می شود، لذا بیماران موظفند به طور مداوم داروی رقیق کننده خون مصرف کنند که بر روی جنبه های مختلف زندگی آن ها تاثیر گذار است. همچنین میزان مصرف این داروها اهمیت ویژه ای دارد، زیرا مصرف زیاد آن ها عوارضی از قبیل خون ریزی دارد. بنابراین نیاز به مدیریت و  کنترل پیوسته شاخص های مختلف سلامتی بیمار مانند میزان انعقادپذیری خون(توسط   تست INR) ٬ داروهای تجویز شده، وعده های غذایی، فعالیت های بدنی و ...وجود دارد. این کار پیچیده و وقتگیر بوده و برای هر بیمار بسته به سوابق و وضعیت بیماری او متفاوت است. لذا نیاز به تعامل پیوسته بیمار و پزشک بیش از پیش مشهود میشود.  این سیستم به بیماران این امکان را می دهد که اطلاعات خود را در آن قرار دهند و به پزشکان نیز این قابلیت داده شود که به صورت آنلاین اطلاعات بیمار را دریافت کنند و به مدیریت و کنترل آن بپردازند.  هدف از این سیستم میسر کردن مدیریت و کنترل مشکلات قلبی توسط خود بیمار، با مدیریت پزشک است. آی ان آر همراه سایتی است که به کمک آن بیماران می توانند با پزشک خود به راحتی ارتباط برقرار کنند و نتایج آزمایش غلظت خون خود را به اشتراک بگذارند. این سایت در سال ۱۳۹۵ توسط دانشجویان دانشگاه تهران طراحی شد و در دسترس عموم قرار گرفت.


		</br>
		</br>
		</br>
	  </p>
    
  </div>
  <br>
  </body>
 </html>