
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شروع</title>

    <link href="/assets/css/template.css" rel="stylesheet">
    <link href="/assets/css/slider.css" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- in baraye ine k b jaye loacalhost:3000 ino load kone: "localhost:3000/#one" -->
    <script type="text/javascript">
        $(document).ready(function(){
        window.location.hash = '#one';
        });
    </script>
      <main id="main" class="site-main" style="margin-top:-9%;">


          
<!--           <div class="carousel-inner">
            <div class="item active" style="width:1140px;height:691.84px;">
              <div class="container"><img style="border:10px outset gray;" src="/assets/slider/3.jpg" alt="First slide"></div>
            </div>
            <div class="item" style="width:1140px;height:691.84px; ">
              <div class="container"><img style="border:10px outset gray;" src="/assets/slider/2.jpg" alt="Second slide"></div>
            </div>
            <div class="item" style="width:1140px;height:691.84px;">
              <div class="container"><img style="border:10px outset gray;" src="/assets/slider/1.jpg" alt="Third slide"></div>
            </div>
          </div>





          
          <a class="left carousel-control" href="#carousel-1" data-slide="prev" style="opacity:1;height:0px;"><span class="glyphicon glyphicon-chevron-left" style="margin-top:230%;"></span></a>

          <a class="right carousel-control" href="#carousel-1" data-slide="next" style="opacity:1;height:0px;"><span class="glyphicon glyphicon-chevron-right" style="margin-top:230%;"></span></a> -->

          <div id="slider" style="width:64%;">
  <!-- Sildes -->

            <img id="one" src="/assets/slider/3.jpg" style="border:10px outset silver;" />
            <img id="two" src="/assets/slider/2.jpg" style="border:10px outset silver;" />
            <img id="three" src="/assets/slider/1.jpg" style="border:10px outset silver;" />
            <img id="four" src="/assets/slider/4.jpg" style="border:10px outset silver;" />
            <!-- <img id="five" src="/assets/slider/z1.jpg" style="border:10px outset gray;" />  -->
            
            <!-- Links for the slides! -->
            <ul>
              <li>
                <a href="#one" style="margin-top:45%;"></a>
              </li>
              <li>
                <a href="#two" style="margin-top:45%;"></a>
              </li>
              <li>
                <a href="#three" style="margin-top:45%;"></a>
              </li>
             <li>
                <a href="#four" style="margin-top:45%;"></a>
              </li>
             <!--  <li>
                <a href="#five"></a>
              </li> --> 
            </ul>
          </div>
    


        </br></br></br></br>

        <section class="section section-center section-cta">
          <div class="">
            <h2 class="section-title"><span style="">آی ان آر همراه</span></h2>
            <p style="direction: rtl;font-family:BNazanin;    font-size: 120%;    text-align: justify;     line-height: 22px;">
              
آی ان آر همراه سایتی است که به کمک آن بیماران می توانند با پزشک خود به راحتی ارتباط برقرار کنند و نتایج آزمایش غلظت خون خود را به اشتراک بگذارند. این سایت در سال ۱۳۹۵ توسط دانشجویان دانشگاه تهران طراحی شد و در دسترس عموم قرار گرفت.
            </p>
            
          </div>
        </section>
        
      </main>

    <div class="scroll-to-top" data-spy="affix" data-offset-top="200"><a href="#page" class="smooth-scroll"><i class="fa fa-arrow-up"></i></a></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.isotope.min.js?v=1.5.26"></script>
    <script type="text/javascript" src="assets/js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
