</br></br></br></br></br></br>
<!-- معماری -->
<div style="width:75% ;  margin-left:15%">
  <div    style="direction: rtl;">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" style="border:10px outset silver;height:420px;">
        <%= image_tag("profiles_pic/profile.png") %>
        <!-- <img src="/assets/profiles_pic/profile.png" > -->
          <div class="caption">
            <h3>فرشید ایمنی</h3>
             سابقه کار - سال : ۷
            <br>
              مدرک تحصیلی:کارشناس سازه / کارشناس ارشد محیط‌زیست
              <br>
       گروه:محیط زیست
    </div>
        </div>
    </div>
  </div>





<div    style="direction: rtl;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profiles_pic/profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3> حمیده سادات میروکیلی </h3>
        سابقه کار - سال : ۸
        <br>
        مدرک تحصیلی:کارشناس سازه / کارشناس ارشد محیط‌زیست 
        <br>
        گروه:محیط زیست
    </div>
  </div>
</div>
</div>
</div>





</br></br></br></br></br></br>
</br></br></br></br></br></br>

</br></br></br></br></br></br>
</br></br></br></br></br></br>
</br></br></br></br></br></br>
