<br><br><br><br><br><br>
<%#= swf_tag swf_path("iran_map") %>
<!-- <embed src="<%#= asset_path('iran_map.swf') %>", width="600" height="600" margin-left="50%"/> -->
<div style="">
	<embed src="/iran_map.swf" , style="margin-left:27%; height:600px; width:600px;">
</div>