<div style="border:10px outset gray; margin-bottom:10%;">
	<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های در حال انجام : </h1>
	<h2 style="padding-right:4%;font-size:26px;"> مجتمع آموزشی و کمک آموزشی خواهران دانشگاه قم </h2></br>
	<h2 style="padding-right:4%;font-size:26px;">  خوابگاه حیاط مرکزی خواهران دانشگاه تهران پردیس قم</h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> خوابگاه برادران دانشگاه تهران پردیس قم </h2></br>

</div>

</br></br></br></br></br>