<div style="border:10px outset gray; margin-bottom:10%;">
<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های انجام شده : </h1>
	<h2 style="padding-right:4%;font-size:26px;"> مجتمع خوابگاهي دانشكده كشاورزي گنبد </h2></br>
</div>


</br></br></br></br></br></br></br></br></br></br></br></br></br>