<div style="border:10px outset gray; margin-bottom:10%;">

<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های انجام شده : </h1>
	<h2 style="padding-right:4%;font-size:26px;"> طرح جامع دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> مجتمع ورزشی و استخر شنای دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> دانشكده علوم‌پايه دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> دانشكده فني و مهندسي دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> مجتمع خوابگاهي دانشگاه اراك شماره 1 </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> مجتمع خوابگاهي دانشگاه اراك شماره 2 </h2></br>
	<h2 style="padding-right:4%;font-size:26px;">سالن غذا‌خوري دانشگاه اراك</h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه‌سازي خوابگاه دانشجويان دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه‌سازي دانشكده علوم پايه دانشگاه اراك </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> بانك شعبه دانشگاه اراك</h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> مسجد دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه‌سازی دانشکده فنی و مهندسی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه‌سازی بانک و مسجد دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه‌سازي خانه‌هاي سازماني دانشگاه اراك</h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> طراحي تسهيلات زير بنايي پرديس دانشگاه اراك و اجراي مرحله اول آن</h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> سالن ورزشی مجموعه خوابگاهی دانشگاه اراک </h2></br>
</div>


<div style="border:10px outset silver;">
<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های  در حال انجام : </h1>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه‌سازی ساختمان مرکزی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;">  دانشکده کشاورزی دانشگاه اراک</h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه‌سازی ورزشگاه دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه‌سازی راه دسترسی سازمان مرکزی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> سالن ورزشی شماره 2 دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> آمفی تأتر  دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> خوابگاه دانشجویان دانشگاه اراک ( شماره 3 ) </h2></br>
	<h2 style="padding-right:4%;font-size:26px;">   سازمان مرکزی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> کتابخانه مرکزی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> دانشکده ادبیات و علوم انسانی دانشگاه اراک </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> سالن غذاخوری شماره 2  دانشگاه اراک </h2></br>

</div>

<br><br><br>
