<div style="border:10px outset gray; margin-bottom:10%;">
<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های انجام شده : </h1>
	<h2 style="padding-right:4%;font-size:26px;">گسترش دانشكده حقوق و علوم سياسي دانشگاه تهران</h2></br>
	<h2 style="padding-right:4%;font-size:26px;">مطالعات بهسازي  لرزه‌اي موزه دانشگاه تهران</h2></br>
	<h2 style="padding-right:4%;font-size:26px;">مطالعات و اجراي بهسازي لرزه‌اي ساختمان دوره دكتراي فيزيك دانشگاه تهران</h2></br>
	<h2 style="padding-right:4%;font-size:26px;">خوابگاه دانشگاه خواجه نصیر الدین تهران</h2></br>
</div>

<div style="border:10px outset silver;">
	<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های در حال انجام : </h1>
	<h2 style="padding-right:4%;font-size:26px;"> دانشکده هنرهای تجسمی دانشگاه هنر تهران </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> خوابگاه متأهلین دانشگاه تربیت مدرس تهران </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> توسعه خوابگاه دانشگاه علم و صنعت تهران (معاونت دانشجویی دانشگاه) </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> خوابگاه دانشکده الهیات دانشگاه تهران </h2></br>


</div>

</br>
