<div style="border:10px outset gray; margin-bottom:10%;">
<h1 style="    margin-right: 35%;    color: #1C20C5;"> پروژه های انجام شده : </h1>
	<h2 style="padding-right:4%;font-size:26px;"> خوابگاه دانشجويان متأهل مركز تحصيلات تكميلي در علوم پايه زنجان </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> سردر ورودی دانشگاه زنجان </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> كتابخانه مركزي دانشگاه زنجان </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> سلف سرويس دانشگاه زنجان </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> مجتمع خوابگاهي دانشگاه زنجان (شماره 1) </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> محوطه سازي دانشگاه زنجان </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> دانشکده معدن دانشگاه زنجان </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> آمفي‌تأتر دانشگاه زنجان </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> خوابگاه شماره 6 دانشگاه زنجان </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> خوابگاه دانشجویان دانشگاه زنجان ( شماره 4 و 5 ) </h2></br>
	<h2 style="padding-right:4%;font-size:26px;"> دانشکده معدن دانشگاه زنجان</h2></br>
</div>